ITSP_USER=
ITSP_PASS=
ITSP_REALM=
ITSP_PROXY=

KAMAILIO_SIP_PORT=5060
HOMER_HTTP_PORT=9080

ADMIN_USER=admin
PANEL_HTTP_PORT=8080

EXTERNAL_IP=

PANEL_HOSTNAME=panel.yourdomain.com
ACME_EMAIL=you@yourdomain.com

COMPOSE_PROFILES=prod
