[global]
type=global
endpoint_identifier_order=ip,username,anonymous

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
external_media_address=@@EXTERNAL_IP@@
external_signaling_address=@@EXTERNAL_IP@@

[transport-tcp]
type=transport
protocol=tcp
bind=0.0.0.0:5060
external_media_address=@@EXTERNAL_IP@@
external_signaling_address=@@EXTERNAL_IP@@

[kamailio]
type=endpoint
context=from-kamailio
disallow=all
allow=opus
allow=ulaw
allow=alaw
trust_id_inbound=yes
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
ice_support=no

[kamailio]
type=identify
endpoint=kamailio
match=172.18.0.0/16

[kamailio]
type=aor
max_contacts=1

[trunk_auth]
type=auth
auth_type=userpass
username=@@ITSP_USER@@
password=@@ITSP_PASS@@

[trunk_aor]
type=aor
contact=sip:@@ITSP_PROXY@@

[trunk]
type=endpoint
context=from-trunk
disallow=all
allow=ulaw
allow=alaw
allow=opus
outbound_auth=trunk_auth
aors=trunk_aor
from_user=@@ITSP_USER@@
from_domain=@@ITSP_REALM@@
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[trunk]
type=identify
endpoint=trunk
match=@@ITSP_REALM@@
