#!KAMAILIO

debug=3
log_stderror=yes
fork=no
children=4

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "sanity.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "xlog.so"
loadmodule "app_lua.so"
loadmodule "auth.so"
loadmodule "auth_db.so"
loadmodule "db_mysql.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "siptrace.so"
loadmodule "ctl.so"
loadmodule "pike.so"

modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")

modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 16)
modparam("pike", "remove_latency", 4)

modparam("siptrace", "duplicate_uri", "sip:heplify-server:9060")
modparam("siptrace", "hep_mode_on", 1)
modparam("siptrace", "hep_version", 3)
modparam("siptrace", "trace_to_database", 0)
modparam("siptrace", "trace_on", 1)

modparam("auth_db", "db_url", "mysql://kamailio:kamailio@mysql/kamailio")
modparam("auth_db", "calculate_ha1", 0)
modparam("auth_db", "password_column", "ha1")
modparam("auth_db", "load_credentials", "")

modparam("usrloc", "db_url", "mysql://kamailio:kamailio@mysql/kamailio")
modparam("usrloc", "db_mode", 2)

modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_contacts", 5)

modparam("app_lua", "load", "/etc/kamailio/lua/kamailio.lua")
cfgengine "lua"
